import(ncdf4)
import(zoo)

# Exports - in alphabetic order
export(aggregate.comb)
export(aggregate.field)
export(aggregate.station)
export(aggregate.area)
export(alt)
export(annual)
export(annual.default)
export(annual.station)
#export(annual.station.day)
export(annual.spell)
export(annual.field)
export(annual.dsensemble)
export(annual.zoo)
export(anomaly)
export(anomaly.default)
export(anomaly.field)
export(anomaly.comb)
export(anomaly.station)
export(anomaly.annual)
export(anomaly.month)
export(aspect)
export(month)
export(day)
export(attrcp)
export(as.4seasons)
export(as.4seasons.default)
export(as.4seasons.station)
export(as.4seasons.day)
export(as.4seasons.spell)
export(as.4seasons.field)
export(as.4seasons.dsensemble)
export(as.annual)
export(as.annual.default)
export(as.annual.numeric)
export(as.annual.integer)
export(as.annual.yearqtr)
export(as.annual.spell)
export(as.anomaly)
export(as.anomaly.default)
export(as.anomaly.zoo)
export(as.anomaly.station)
export(as.anomaly.field)
export(as.appended)
export(as.appended.ds.comb)
export(as.appended.eof.comb)
export(as.appended.field.comb)
export(as.climatology)
export(as.calibrationdata)
export(as.calibrationdata.ds)
export(as.calibrationdata.station)
export(as.eof)
export(as.eof.comb)
export(as.eof.zoo)
export(as.eof.ds)
export(as.eof.eof)
export(as.eof.field)
export(as.eof.appendix)
export(as.eof.list)
export(as.comb)
export(as.comb.eof)
export(as.climatology)
export(as.ds)
export(as.field)
export(as.field.default)
export(as.field.zoo)
export(as.field.eof)
export(as.field.comb)
export(as.field.field)
export(as.field.ds)
export(as.field.station)
export(as.field.events)
export(as.field.trajectory)
export(as.fitted.values)
export(as.fitted.values.ds)
export(as.monthly)
export(as.monthly.station)
export(as.monthly.field)
#export(as.observed.station)
export(as.original.data)
export(as.original.data.ds)
export(as.original.data.station)
export(as.pattern)
export(as.pattern.ds)
export(as.pattern.corfield)
export(as.pattern.field)
export(as.pattern.eof)
export(as.pattern.cca)
export(as.pattern.mvr)
export(as.pca)
export(as.pca.ds)
export(as.pca.station)
export(as.residual)
export(as.residual.ds)
export(as.residual.station)
export(as.stand)
export(as.original)
export(as.stand.station)
export(as.original.station)
export(as.station)
export(as.station.data.frame)
export(as.station.ds)
export(as.station.dsensemble.pca)
export(as.station.pca)
export(as.station.list)
export(as.station.field)
export(as.station.events)
export(as.station.spell)
export(as.station.zoo)
export(as.station.eof)
export(as.station.trajectory)
export(calendar)
export(barplot.station)
export(CCA)
export(CCA.default)
export(CCA.eof)
export(CCA.pca)
export(CCA.field)
export(check.ncdf4)
export(clean.station)
export(climatology)
export(climatology.default)
export(climatology.field)
export(climatology.station)
export(clim2pca)
export(clim2pca.default)
export(clim2pca.month)
export(clim2pca.day)
export(climvar)
export(cmip3.model_id)
export(cmip5.model_id)
export(cntr)
export(colscal)
export(colbar)
export(colbar.ini)
export(combine)
export(combine.default)
export(combine.station)
export(combine.stations)
export(combine.ds)
export(combine.ds.comb)
export(combine.station.eof)
export(combine.station.field)
export(combine.field.station)
export(combine.field)
export(combine.list)
export(combine.zoo)
export(crossval)
export(crossval.ds)
export(crossval.list)
export(corfield)
export(corfield.default)
export(corfield.zoo)
export(corfield.field)
export(corfield.station)
export(corfield.field.station)
export(corfield.eof)
export(count)
export(cumugram)
export(diagnose)
export(diagnose.default)
export(diagnose.ds)
export(diagnose.ds.pca)
export(diagnose.eof)
export(diagnose.comb.eof)
export(diagnose.comb)
export(diagnose.mvr)
export(diagnose.cca)
export(diagnose.dsensemble)
export(diagnose.station)
export(diagnose.distr)
export(diagram)
export(diagram.dsensemble)
export(diagram.ds)
export(diagram.station)
export(distAB)
export(DS)
export(DS.default)
export(DS.station)
export(DS.station.pca)
export(DS.comb)
export(DS.field)
export(DS.eof)
export(DS.t2m.month.field)
export(DS.t2m.season.field)
export(DS.precip.season.field)
export(DS.freq)
export(DS.spell)
export(DS.pca)
export(DS.seasonalcycle)
export(DS.seasonalcycle)
export(DSensemble)
export(DSE)
export(DSensemble.default)
export(DSensemble.t2m)
export(DSensemble.precip)
export(DSensemble.annual)
export(DSensemble.mu)
export(DSensemble.mu.worstcase)
export(DSensemble.pca)
export(fig0.zoo)
export(fig1.zoo)
export(frame.metno)
export(ele2param)
export(EOF)
export(EOF.default)
export(EOF.field)
export(EOF.comb)
export(eof2field)
export(esd2ele)
export(err)
export(exceedance)
export(exceedance.default)
export(exceedance.station)
export(exceedance.field)
#export(getgcmname)
export(hist.spell)
export(frequency.data)
export(g2dl)
export(g2dl.field)
export(g2dl.corfield)
export(g2dl.eof)
export(g2dl.default)
export(ghcnd.meta)
export(ghcnd.data)
export(ghcnm.meta)
export(ghcnm.data)
export(gridbox)
export(lag.station)
export(lag.field)
export(lonlatprojection)
export(map2sphere)
export(map)
export(map.default)
export(map.matrix)
export(map.stationmeta)
export(map.station)
export(map.comb)
export(map.eof)
export(map.pca)
export(map.mvr)
export(map.cca)
export(map.ds)
export(map.field)
export(map.corfield)
export(map.trend)
export(map.googleearth)
export(matchdate)
export(MET.no.meta)
export(MVR)
export(MVR.default)
export(MVR.field)
export(MVR.pca)
export(MVR.eof)
export(nearest)
export(nearest.station)
export(nearest.field)
export(nam2expr)
export(param2ele)
export(PCA)
export(PCA.station)
export(pca2station)
export(plot.station)
export(plot.eof)
export(plot.eof.field)
export(plot.eof.comb)
export(plot.eof.var)
export(plot.ds)
export(plot.ds.pca)
export(plot.ds.eof)
export(plot.field)
export(plot.spell)
export(plot.pca)
export(plot.mvr)
export(plot.cca)
export(plot.dsensemble)
export(plot.dsensemble.pca)
export(plot.xval)
export(plot.diagnose)
export(plot.diagnose.comb.eof)
export(plot.nevents)
export(precip.ERAINT)
export(predict.ds)
export(predict.mvr)
export(predict.cca)
export(predict.ds.eof)
export(predict.ds.pca)
export(predict.ds.comb)
export(project.ds)
export(regrid.weights)
export(regrid)
export(regrid.default)
export(regrid.matrix)
export(regrid.field)
export(regrid.eof)
export(regrid.station)
export(regrid.pca)
export(regrid.irregweights)
#export(replace.char)
export(retrieve.ncdf)
export(retrieve)
export(retrieve.ncdf4)
export(rotM)
export(scatter.hexbin)
export(scatter.sunflower)
export(select)
export(select.default)
export(select.station)
export(slp.DNMI)
export(slp.ERAINT)
export(slp.MERRA)
export(slp.NCEP)
export(sparseMproduct)
export(spatial.avg.field)
export(spell)
export(spell.default)
export(spell.station)
export(station)
export(station.default)
export(station.ecad)
export(season)
export(season.default)
export(season.abb)
export(sametimescale)
export(seasevol)
export(seasevol.station)
export(softattr)
export(sp2np)
export(station.nacd)
export(station.narp)
export(station.ghcnd)
export(station.ghcnm)
export(station.metnom)
export(station.metnod)
export(station.nordklim)
export(stnr)
export(sst.DNMI)
export(sst.NCEP)
export(default.subset)
export(subset.comb)
export(subset.station)
export(subset.eof)
export(subset.pca)
export(subset.field)
export(subset.matrix)
export(subset.pattern)
export(subset.spell)
export(subset.cca)
export(subset.mvr)
export(subset.trend)
export(subset.corfield)
export(subset.ds)
export(subset.zoo)
export(subset.matrix)
export(subset.dsensemble)
export(subset.events)
export(summary.ncdf4)
#export(test.scandinavia)
export(t2m.DNMI)
export(t2m.ERA40)
export(t2m.ERAINT)
export(t2m.GHCNM)
export(t2m.MERRA)
export(t2m.NCEP)
export(t2m.NorESM.M)
export(test.EOF)
export(test.retrieve.ncdf4)
export(test.regrid)
export(test.regrid2station)
export(trend)
export(trend.default)
export(trend.station)
export(trend.eof)
export(trend.field)
export(trend.zoo)
export(trend.zoo.multi)
export(validate)
export(validate.default)
export(validate.eof)
export(validate.eof.field)
export(validate.eof.comb)
export(validate.ds)
#export(replacechars)
#export(cmip35.global)
export(year)
export(zeros)
export(wetfreq)
export(wheel)
export(wheel.station)
export(wheel.spell)
export(history.stamp)
export(history.stamp.default)

export(lon)
export(longitude)
export(lat)
export(latitude)
export(loc)
export(location)
export(stid)
#export(station_id)
export(qual)
export(quality)
export(varid)
export(unit)
export(src)
export(frequency.name)
export(frequency.abb)
export(ref)
export(info)
export(history.esd)
export(pattern)
export(ele)
export(pentad)
export(biasfix)

export(vec)
export(vis)
export(vis.station)
export(vis.field)
export(vis.eof)
export(vis.spell)
export(vis.cca)
export(vis.pca)
export(vis.mvr)
export(vis.dsensemble)
export(vis.dsensemble.list)
export(vis.ds)
export(vis.trends)
export(allgood)

export(nevents)
export(wetmean)
export(as.seasons)
export(HDD)
export(CDD)
export(GDD)
export(save2ncdf)
export(save2ncdf.station)
export(write.ncdf)
export(write.ncdf.station)
export(retrieve.default)
export(retrieve.ncdf)
export(check.ncdf)

export(FTscramble)
export(WG)
export(WG.station)
export(WG.FT.day.t2m)
export(WG.fw.day.precip)
export(WG.pca.day.t2m.precip)

export(rbind.field)
export(cbind.field)

export(HadCRUT4)
export(C.C.eq)
export(is.T)
export(is.precip)
export(is.field)
export(is.station)
export(is.eof)
export(is.pca)
export(is.cca)
export(is.daily)
export(is.dates)
export(is.monthly)
export(is.months)
export(is.seasonal)
export(is.seasons)
export(is.annual)
export(is.years)
export(iid.test)
export(iid.test.default)
export(iid.test.station)
export(iid.test.field)
export(test.iid.test)
export(n.records)
export(image.plot)
export(imageplot.info)
export(imageplot.setup)
export(poly.image)
export(NE)
export(t2m.Pr)
export(precip.Pr)
export(nv)
export(precip.rv)
export(t2m.vul)
export(precip.vul)
export(SSA)
export(coherence)
#export(test.ssa)
export(test.coherence)
export(plot.ssa)
export(summary.dsensemble)
export(summary.ds)
export(summary.station)
export(summary.eof)
export(summary.cca)
export(retrieve.rcm)
export(q5)
export(q95)
export(q995)
export(cv)
export(trend.coef)
export(trend.err)
export(trend.pval)

export(coldwinterdays)
export(coldspells)
export(heatwavespells)
export(hotsummerdays)
export(nwetdays)
export(qqgeom)
export(anomaly.day)
export(map.array)
export(validate.cca)
export(validate.pca)

export(filt)
export(filt.default)

export(trajectory)
export(as.trajectory)
export(as.trajectory.events)
export(is.trajectory)
export(trajectory2station)
export(trajectory2field)
export(read.imilast)
export(PCA.trajectory)
export(pca2trajectory)
export(anomaly.trajectory)
export(anomaly2trajectory)
export(map.trajectory)
export(map.density.trajectory)
export(map.hexbin.trajectory)
export(map.sunflower.trajectory)
export(map.pca.trajectory)
export(plot.pca.trajectory)
export(season.trajectory)
export(param.trajectory)
export(sort.trajectory)
export(polyfit.trajectory)
export(count.trajectory)
export(plot.trajectory)
export(fnlon)
export(approxlon)
export(approx.lonlat)
export(subset.trajectory)
export(corfield.trajectory)
export(DS.trajectory)

export(calculate.cyclonebudget)
export(plot.cyclonebudget)

export(as.events)
export(as.events.default)
export(as.events.trajectory)
export(events)
export(trajectory2events)
export(events2trajectory)
export(events2field)
export(map.events)
export(count.events)
export(param.events)
export(factor2numeric)

export(track)
export(track.default)
export(track.events)
export(Track)
export(Track123)
export(Trackstats)

export(trackfilter)
export(trackfilter.events)
export(trackfilter.trajectory)

export(density.trajectory)
export(density.events)
export(trackdensity)

export(CCI)
export(dX)
export(dY)
export(dT)
export(regfit)

export(histwet)
export(visprob)
export(visprob.default)
export(visprob.station)
export(visprob.station.precip)
export(NINO3.4)
export(NAO)
export(SOI)
export(figlab)
export(fitpc)
export(pcafill)
export(pcafill.test)
export(vis.map)
export(plot.diagnose.dsensemble)
export(plot.diagnose.matrix)
export(diagnose.matrix)
export(ndig)
export(NASAgiss)
export(balls)
export(vis.default)
export(GSL)
export(graph)
export(graph.default)
export(graph.dsensemble)
export(mask)
export(is.model)
export(ylab)
export(graph.list)
export(graph.zoo)
export(plot.list)
export(station.sonel)
export(station.gloss)
export(station.newlyn)
export(sort.station)
export(manual)
export(ABC4ESD)
export(esd.tips)
export(esd.issues)
